.review-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    padding: 20px;
    min-width: 400px;
    width: inherit;
    height: 230px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.review-header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 10px;
    gap: 2px;
}

.reviewer-info {
    display: flex;
    align-items: center;
}

.top-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.date {
    color: rgba(var(--primary-low));
    font-weight: 400;
}
.reviewer-name {
    font-weight: bold;
    margin-right: 5px;
    font-size: 20px;
}

.verified-badge {
    background-color: rgba(var(--green));
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
}

.review-text {
    line-height: 1.4;
    font-weight: 300;
    color: rgba(var(--primary-low));
}
