#btn {
    width: inherit;
    padding: 10px 15px;
    border-radius: 62px;
    white-space: nowrap;
}
.primary {
    background-color: rgba(var(--primary));
    color: rgba(var(--background));
    border: 1px solid rgba(var(--primary));
}
.secondary {
    background-color: rgba(var(--background));
    color: rgba(var(--primary));
    border: 1px solid rgba(0, 0, 0, 0.1);
}
