.quantity-picker {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0.5rem;
    background-color: rgba(var(--secondary));
    border-radius: 40px;
}

.quantity-button {
    padding: 0 0.25rem;
    background: none;
    border: none;
    cursor: pointer;
}

.quantity {
    padding: 0 1rem;
}
