@tailwind base;
@tailwind components;
@tailwind utilities;

/* color declaration */
:root {
    --background: 255, 255, 255, 1;
    --primary: 0, 0, 0, 1;
    --secondary: 242, 240, 241, 1;
    --primary-low: 0, 0, 0, 0.6;
    --light-red: 255, 235, 235, 1;
    --green: 1, 171, 49, 1;
    --border: 0, 0, 0, 0.1;
    --star: 255, 198, 51, 1;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(var(--background));
    color: rgba(var(--primary));
}
input {
    outline: none;
    background-color: inherit;
    width: 100%;
}
